<html>
  <head>
    <title>Group Invitation</title>
  </head>
  <body style='font-size: 14px; padding: 10px 0;'>
    <p style='font-size:18px; font-weight: bold'>Hey 👋</p>
    <p>
      You have been invited to join the group
      <strong>{{groupName}}</strong>
      on
      <strong>Xpensus</strong>
      by
      {{inviter}}.
    </p>
    <p>
      If you wish to join the group, click the link below.
    </p>
    <a
      style='background-color: hsl(185, 95%, 45%); border:none; border-radius: 4px; padding: 8px 16px; font-size:18px; color:#111111; text-decoration:none; box-shadow: 1px 1px 3px #1111115f; cursor:pointer;'
      href='{{link}}'
    >Join</a>
  </body>
</html>